.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#articles {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  #articles {
    width: 100%;
  }
}

header {
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h1 {
  font: bold 4em 'Playfair Display SC', serif;
  text-align: center;
}
